<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Project ESRD", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div style="background-color: #E7E7E7;">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Person", "Index", "ContactPerson")</li>
                    <li>@Html.ActionLink("Sample", "Index", "SampleMaster")</li>
                    <li>@Html.ActionLink("ListDetail", "Index", "SampleDetail")</li>
                    <li>@Html.ActionLink("Type", "Index", "TypeOfSample")</li>
                    <li>@Html.ActionLink("TypeDetail", "Index", "TypeOfSampleDetail")</li>
                    <li>@Html.ActionLink("Report", "Index", "TypeOfSampleDetail")</li>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
