@model ESRD_Sample01.TypeOfSample

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TypeOfSample</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChemicalFertilizer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemicalFertilizer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganicFertilizer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganicFertilizer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChemicalOrganicFertilizer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemicalOrganicFertilizer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Water)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Water)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ethanol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ethanol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleMaster.Used)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleMaster.Used)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
